{% extends 'enroll/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10 bg-dark">
  <p><a href="{% url 'home' %}" class="btn btn-danger btn-sm mt-2">Go To Home</a></p>
    <h3  class="text-dark my-5 btn btn-warning" style="font-size: 30px; color: gray; font-weight:bold;">Applications Received</h3>
    <div class="container">
      <div class="colsm-8">
            <table class="table bg-white">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Education</th>
                    <th scope="col">Obtained Marks</th>
                    <th scope="col">Total Marks</th>
                    <th scope="col">Applied For</th>
                    <th scope="col">Resume</th>
                    
                  </tr>
                </thead>
                <tbody>
                    {% for cp in form %}
                  <tr>
                    <td>{{cp.name}}</td>
                    <td>{{cp.email}}</td>
                    <td>{{cp.address}}</td>
                    <td>{{cp.education}}</td>
                    <td>{{cp.obtained_marks}}</td>
                    <td>{{cp.total_marks}}</td>
                    <td>{{cp.apply}}</td>
                    <td>{{cp.resume}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
    </div>
</div>
</div>
{% endblock content %}

