<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'enroll/css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>


    {% include 'enroll/bas_01.html' %}
<div class= "container-fluid bg-dark" >
</div>
<div class="container ">
    <div class=" row">
        <div class="col-sm-12">
            {% block msg %}
            <h1></h1>
            {% endblock msg %}
        </div>
    </div>
    <div class="row">
        {% block side %}
        {% endblock side %}
        {% block content %}
        {% endblock content %}
    </div>
</div>
<script src={% static 'enroll/js/boostrap.js' %}></script>
<script src={% static 'enroll/js/jquery.js' %}></script>
<script src={% static 'enroll/js/popper.js' %}></script>
</body>
</html>